
.screen{
  overflow-x: hidden;
}
.navbar-custom .nav-link {
  font-size: 20px;
  padding: 20px;
  color: black;
}

.navbar-custom .nav-item:not(:last-child) {
  margin-right: 60px;
}
.gradient-bg {
  height: 100vh;
  background: linear-gradient( to bottom, #fff 3%,  #8a73ff 50%, rgb(5, 0, 109) 100% );

}

.gradient-bg2{
  height: 100vh;
  background: linear-gradient( to bottom, rgb(5, 0, 110) 10%,  #8a73ff 70%,  #fff 100%);

}


.bgimg{
  width: 65%;
  position: absolute;
  bottom: 2rem;
  left: 0.2rem;
  z-index: 1;
}

.content-container {
  position: absolute;
  right: 10rem;
  top: 15rem;
  text-align: center;
  
}

.nav-section1{
  margin-left: 20rem;
}

.nav-section2{
  margin-left: 20rem;
}



.login-card,
.signup-card {
  margin-top: -100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}


.login-signup-container {
  position: relative;
  z-index: 1;
}

.login-signup-row {
  display: flex;
  justify-content: space-around;
}




